.bpm-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  user-select: none;
  padding-bottom: 150px;

  .messages-and-bpm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2rem;
    position: relative;

    .clipboard-message {
      opacity: 0;
      position: absolute;
      top: 0;
    }
    
    .bpm-number-container {
      display: flex;
      align-items: center;
      
      .bpm-number {
        margin-right: 15px;
        font-size: 8rem;
        font-weight: 400;
        // TODO: Change the cursor and make it custom for a better look indicating "copy to clipboard".
        cursor: copy;
        color: #C0EE7C;
        z-index: 0;
        position: relative;

        .pulse-effect {
          // TODO: Improve this
          height: 0%;
          width: 0%;
          background: linear-gradient(180deg, #20A8A8 0%, #2087C5 100%);
          position: absolute;
          z-index: -1;
          border-radius: 50%;
          opacity: 0;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
        }
        
        .bpm-ms-format-container {
          display: flex;
          align-items: baseline;

          .decimals {
            font-size: 5rem;
            font-weight: 300;
          }
        }
      }
      
      .bpm-label {
        font-size: 2.5rem;
        font-weight: 300;
        color: #C0EE7C;
        z-index: 1;
      } 
    }

    .baseline-align {
      align-items: baseline;
    }

    .reset-button {
      font-size: 1.2rem;
      z-index: 1;
    }
  }

  .animation-grow {
    animation: growIn 0.5s;
  }
  
  .animation-popup {
    animation: popUp 2s;
  }

  .animation-pulse {
    animation: pulse 0.5s;
  }

  @keyframes growIn {
    0% {
      opacity: 0.8;
      font-size: 7rem;
    }
  }
  
  @keyframes popUp {
    0% {
      font-size: 0.8rem;
    }
    
    10% {
      font-size: 1rem;
      opacity: 1;
    }
  
    80% {
      font-size: 1rem;
      opacity: 1;
    }

    100% {
      font-size: 0.9rem;
    }
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.75;
    }

    75% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      height: 400%;
      width: 400%;
    }
  }
}